body {
    background: none; /* Reset any previous background settings */
}
body {
    font-family: Arial, sans-serif;
    background-image: url('https://www.qetutoring.com/assets/small_pages/100f_to_c/img/thermometer.png'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    min-height: 100px;
}


.container {
    max-width: 500px;
    margin: 0 auto;
    background-color: #d3c185;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.converter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-weight: bold;
    margin-bottom: 10px;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

#fahrenheit {
    background-color: #f0f0f0;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}